.image-carousel-container {
  height: 100%;
  width: clamp(800px, 100%, 2000px);
  background-color: lightyellow;
  position: relative;
}

.image-carousel {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nav-button {
  height: 100%;
  width: clamp(50px, 5%, 100px);
  position: absolute;
  border: none;
  box-shadow: none;
  background-color: lightgray;
  opacity: 50%;
  font-size: 3rem;
}

.nav-button:active {
  opacity: 80%;
}

.prev-button {
  top: 0;
  left: 0;
}

.next-button{
  top: 0;
  right: 0

}

.nav-bar {
  width: 100%;
  height: 40px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 50%;
}

